/* css geral */

html {
  font-family: 'Open Sans', 'sans-serif';
  color: #373a3c
}

a {
  transition: .5s;
}

/* sidebar */

#sidebar {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #006599;
  padding-top: 40px;
}

#sidebar h1 {
  color: #FFF;
  font-size: 32px;
  text-align: center;
  margin: 20px 0 30px;
}

#sidebar a {
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
}

#sidebar a:hover {
  color: #F4EF5E;
}


#sidebar li {
  padding: 20px;
}

.sidebar-container {
  position: relative;
  margin: 0 auto;
  width: 200px;
}

.logo-doceria {
  width: 60px;
  height: auto;
  display: block;
  position: relative;
  margin: 0 auto;
}

/* content */

.content {
  position: absolute;
  left: 300px;
  width: calc(100% - 300px);
}

.content h1, .content h2 {
  color: #006599;
  margin-bottom: 30px;
}

.content h1 {
  font-size: 48px;
}

.content h2 {
  font-size: 36px;
}

section {
  padding-left: 50px;
}

/* bem vindo */

#sessao-bemvindo {
  padding: 0;
}

.sessao-bemvindo-content {
  padding-left: 50px;
}

#sessao-bemvindo .banner {
  height: 500px;
  background-image: url('../images/banner2.jpg');
  background-position: center;
  background-size: cover;
}

#sessao-bemvindo h1 {
  margin-top: 70px;
}

#sessao-bemvindo::after, #sessao-sobre::after {
  content: '';
  display: block;
  clear: both;
  margin-bottom: 100px;
}

.sessao-minibanner {
  width: 300px;
  height: 400px;
  background-image: url('../images/banner3.jpg');
  background-position: center;
  background-size: cover;
  float: left;
}

.sessao-descricao {
  position: absolute;
  left: 370px;
  padding-right: 30px;
}

.sessao-descricao p {
  line-height: 2;
  font-size: 16px;
  margin-bottom: 30px;
  margin-left: 25px;
}

.sessao-bemvindo-btn, form input[type=submit] {
  background-color: #006599;
  color: #FFF;
  text-decoration: none;
  padding: 20px 40px;
  transition: .5s;
  display: block;
  width: 100px;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-left: 25px;
}

.sessao-bemvindo-btn:hover , form input[type=submit]:hover {
  background-color: #2790C6;
}

#sessao-sobre .sessao-minibanner {
  float: right;
  margin-right: 50px;
  background-image: url('../images/banner4.jpg');
}

#sessao-sobre .sessao-descricao {
  position: absolute;
  left: 25px;
  width: calc(100% - 400px);
}

/* galeria */

.banner-galeria {
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 200px;
}

#sessao-doces1, #sessao-doces2, #sessao-doces3 {
  padding-right: 50px;
  margin-bottom: 50px; 
}

.doces1-imgs {
  width: 18.8%;
  margin-left: .5%;
  margin-right: .5%;
}

#img1 {
  background-image: url('../images/galeria1.jpg');
  margin-left: 0px;
}

#img2 {
  background-image: url('../images/galeria2.jpg');
}

#img3 {
  background-image: url('../images/galeria3.jpg');
}

#img4 {
  background-image: url('../images/galeria4.jpg');
} 

#img5 {
  background-image: url('../images/galeria5.jpg');
  margin-right: 0px;
}

.doces2-imgs {
  width: 32.3%;
  margin-left: .5%;
  margin-right: .5%;
}

#img6 {
  background-image: url('../images/galeria6.jpg');
  margin-left: 0px;
}

#img7 {
  background-image: url('../images/galeria7.jpg');
} 

#img8 {
  background-image: url('../images/galeria8.jpg');
  margin-right: 0px;
}

.doces3-imgs {
  width: 23.9%;
  margin-left: .5%;
  margin-right: .5%;
}

#img9 {
  background-image: url('../images/galeria9.jpg');
  margin-left: 0px;
}

#img10 {
  background-image: url('../images/galeria10.jpg');
}

#img11 {
  background-image: url('../images/galeria11.jpg');
} 

#img12 {
  background-image: url('../images/galeria12.jpg');
  margin-right: 0;
}


